.LoginPromo{
  background-color:#FFE7BC;
  height: 100vh;
  position: absolute;
  z-index: 200;
  transition: all 0.7s ease-in-out;
  left: 50%;
  margin: 0;
  padding: 0
}
.promo-insta{
  position: relative;
  z-index: 201;
}
.promo-cat{
  position: absolute;
  bottom: 0;
  z-index: 202;
}

