.Cats{
  background: #fff;
  padding: 0;
  margin: 0;
  position: relative;
  height: 100vh;
}
.title{
  color: #707070;
}
.addCat{
  position: fixed;
  bottom: 30px;
  right: 30px;
  cursor: pointer;
}
#addCatIcon{
  color: #7bd1c4;
}
.cats-btn{
  border: 1px solid #707070;
  color: #707070;
  border-radius: 50px;
  padding: 1px 20px;
  margin: 0 15px;
  cursor: pointer;
  font-size: 14px
}
.cats-btn:hover{
  background: #FB949E;
  border: 1px solid #FB949E;
  color: #fff
}
.cats-btn:first-child{
  margin-left: 0
}
.cats-btn-active {
  background: #FB949E;
  border: 1px solid #FB949E;
  color: #fff
}.Cats .btn-danger{
  background: #FB949E;
  border: none
}
.Cats .btn-danger:hover{
  background: rgb(184, 91, 98)
}
.Cats .btn-warning{
  background: #FFE7BC;
  color: #707070;
  border: none
}
.Cats .btn-warning:hover{
  background: rgb(184, 164, 128)
}
.Cats .btn-success{
  background: #7BD1C4;
  border: none
}
.Cats .btn-success:hover{
  background: rgb(83, 148, 139)
}
.Cats .btn-cancel{
  background: #707070;
  border: none;
  color: #fff
}
.Cats .btn-cancel:hover{
  background: #484848
}